{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>Edit Page</h1>

    <form action="{% url 'save_edit' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="title" placeholder="Enter title" value="{{ title }}">
        <br/>
        <textarea name="content" placeholder="Enter Content" rows="4" cols="50">{{ content }}</textarea>
        <br/>
        <input type="submit" name="submit" value="Edit Page" class="btn btn-primary">
    </form>

{% endblock %}